'This is a stupid Comment


Public Class Form1
    Dim hshContacts As New Hashtable()

    Private Sub btnSearch_Click(sender As Object, e As EventArgs) Handles btnSearch.Click
        SearchContact()
    End Sub

    Private Sub btnNew_Click(sender As Object, e As EventArgs) Handles btnNew.Click
        NewContact()
    End Sub

    Private Sub Button4_Click(sender As Object, e As EventArgs) Handles Button4.Click
        Application.Exit()
    End Sub

    Private Sub btnBackground_Click(sender As Object, e As EventArgs) Handles btnBackground.Click
        Dim Pict As New OpenFileDialog

        With Pict.CheckFileExists = True
            Pict.ShowReadOnly = False
            Pict.Filter = "All files |*.*|Bitmap Files (*)|*.bmp;*.jpg;*.gif"
            Pict.FilterIndex = 2
            If Pict.ShowDialog = Windows.Forms.DialogResult.OK Then
                Me.BackgroundImage = System.Drawing.Image.FromFile(Pict.FileName)

            End If
        End With
    End Sub

    Sub NewContact()
        Dim name As String
        Dim number As String

        name = InputBox("Please, insert the contact name:")
        number = InputBox("Please, insert the contact number:")

        hshContacts.Add(name, number)

    End Sub

    Sub SearchContact()
        Dim name As String
        Dim msg As String = ""

        name = InputBox("Please, insert the contact name that you looking for:")

        For Each element As DictionaryEntry In hshContacts
            If element.Key.Equals(name) Then
                msg = msg & vbNewLine & element.Key & " - " & element.Value
            End If
        Next
        MsgBox("The result of your search """ & name & """ is:" & vbNewLine & msg)

    End Sub

    Sub SetBackground()
        Dim name As String
        Dim number As String

        name = InputBox("Please, insert the contact name:")
        number = InputBox("Please, insert the contact number:")

        hshContacts.Add(name, number)

    End Sub

    Private Sub Form1_Load(sender As Object, e As EventArgs) Handles MyBase.Load

    End Sub
End Class
